<div class="col">
    <div class="row" style="margin-bottom: 10px;">
        <button type="button" class="btn active float-right" style="display: -webkit-inline-box;" data-toggle="button" aria-pressed="true"
            (click)="backClicked()">
            <i class="fas fa-times"></i>
        </button>
    </div>
    <div class="row">
        <div class="row" style="height: 550px">
            <mat-card-title-group>
                <mat-card-title>
                    <mat-icon>local_mall</mat-icon> 
                    <span>
                        {{ tienda }} 
                    </span>
                </mat-card-title>
            </mat-card-title-group>
            <mat-card-content>
                <div>
                    <img src="../../../../../assets/Captura de pantalla 2022-03-17 105115.png"
                        alt="imagen dirección pasaje gutierrez" width="75%" style="float: right;padding-left: 5%">
                </div>
                <div>
                    <br>
                    <span>
                        <strong>Ventas por tienda:</strong>
                        <p>
                            Desde el viernes 08 de abril hasta el lunes 18 de abril 
                        </p>
                    </span>
                    <span>
                        <strong>Entrega de plantas:</strong>
                        <p>
                            Vivero Educativo Tecnicatura en Viveros
                        </p>
                    </span>
                    <span>
                        <strong>Direccion:</strong>
                        <p>
                            Calle Pasaje Gutiérrez N° 983 - Bariloche, Rio Negro, Argentina.
                        </p>
                    </span>
                    <span>
                        <strong>Contacto:</strong>
                        <p>
                            <u>feriasplantastevi@gmail.com</u>
                        </p>
                    </span>
                    <span>
                        <strong>Entrega:</strong>
                        <p>
                            Viernes 22 de abril de 10.00 a 18.00 hs
                        </p>
                    </span>
                </div>
            </mat-card-content>
        </div>
    </div>
</div>