<div class="card shadow-sm">
    <img *ngIf="item.image !== null" class="bd-placeholder-img card-img-top" width="100%" height="500px" src="{{item.image}}">
    <img *ngIf="item.image === null" class="bd-placeholder-img card-img-top" width="100%" height="300px" src="../../../../../assets/imagen-no-disponible.jpg">
    
    <div class="card-body">
        <p class="card-title">
            <strong>{{item.title}}</strong>
        </p>
        <p class="card-text"style="font-size: small;">
            Precio: <strong>{{ item.amount | currency:'USD' }}</strong>
        </p>
        <p class="card-text"style="font-size: small;" >
            Resumen: <strong>{{ item.summary }}</strong>
        </p>


        <div class="d-flex justify-content-center align-items-center">
            <div class="btn-group">
                <button (click)="handleAgregarAlCarrito()" type="button" class="btn btn-sm btn-primary product-btn" > <i class="fas fa-cart-plus"></i>
                    Agregar al carrito </button>
            </div>
        </div>
        <br>
        <div style="float: right;">
            <form [formGroup]="form" style="display: table-cell;"> 
                <ngx-star-rating formControlName="rating" [id]="'rating'" ></ngx-star-rating> 
                <button (click)="openDialog()" mat-icon-button style="margin-left: 55px;">
                    <mat-icon>check</mat-icon> Calificar
                </button>
            </form>
        </div>
       
    </div>
</div>